<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.chuan.allcommon">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".until.manager.HqApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SwipeDeletesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SwipeDeletelistActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LoadAnimActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SwipeBackActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.GestureBackActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ABackActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SlideDeleteActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.Loading58Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.VewPagerListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.VPagerFActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.VPagerfgActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.GradientTabStripActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RecycleListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RecycleActivity"
            android:supportsRtl="true"
            android:theme="@style/recycle"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>